<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="c0d7e96a-ce3d-3472-b3dc-66abc9b1f3c1" value="https://nexus.leandevclan.com/repository/nuget-group/" protocolVersion="2" />
    <add key="c0d7e96a-ce3d-3472-b3dc-66abc9b1f3c1" value="https://nexus.leandevclan.com/repository/nuget-group/" />
    <add key="Package source" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
