<div>
    @Html.ActionLink("Dual Practice Entry - PRIVATE", "SehaLogin", "Home", new { id = 1 })
</div>
<br>
<div>
    @Html.ActionLink("Dual Practice Verify - GOV L1", "SehaLogin", "Home", new { id = 3 })
</div>
<br>
<div>
    @Html.ActionLink("Dual Practice Final Verification - GOV L2", "SehaLogin", "Home", new { id = 5 })
</div>
<br>
<div>
    @Html.ActionLink("SystemAdmin", "Login", "SehaAccount", new { id = 3 })
</div>